<!DOCTYPE html>
<html lang="en" ng-app ng-controller="appCtrl">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="app-style.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	</head>

	<body class="wrapper" ng-app="appCtrl">
		<div class="row">

<!-- LHS wrapper, search input bar and list of links -->
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="search">
					<div class="subtitle">Search:</div>
					<input class="input" type="text" ng-model="search" placeholder="Type in name or label">
				</div>
				<div class="links">
					<ul class="bookmarks">
						<li ng-repeat="site in bookmarks | filter: search">
							<a href="{{ site.url }}">{{ site.title }}</a>
							<span class="tag">{{site.category}}</span>
							<button class="button__edit">Edit</button>
							<button class="button__edit" ng-click="deleteBookmark($index)">Delete</button>
						</li>
					</ul>
				</div>
			</div>

<!-- RHS wrapper, add new link input fields with validation and submit -->
			<div class="col-sm-6 col-md-6 col-lg-6">
				<p class="title">Abraham Linkoln</p>
					<div class="row" id="add">
						<p class="subtitle__add">Add new bookmark:</p>
						<div class="col-sm-2 col-md-2 col-lg-2" id="label-panel">
								<p class="label">Link</p>
								<p class="label">Name</p>
								<p class="label">Category</p>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<input class="input" type="text" placeholder="Paste in URL" ng-model="site_url">
							<input class="input" type="text" placeholder="Label for this link" ng-model="site_name">
							<input class="input" type="text" placeholder="Type in a category" ng-model="site_category">
							<button class="button__submit" ng-click="addBookmark()">submit</button> 
						</div>
					</div>
			</div>
		</div>
			<script src="js/index.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	</body>
</html>
