<!DOCTYPE html>
<html lang="en" ng-app ng-controller="appCtrl">
	<head>
		<title>Abraham Linkoln bookmarks app</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
		<script src="js/index.js"></script>
	</head>

	<body class="wrapper" ng-app="appCtrl">
		<div class="row">

<!-- LHS wrapper, search input bar and list of links -->
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="search">
					<!-- search to filter through list of links -->
					<div class="subtitle">Search:</div>
					<input class="input" type="text" ng-model="search" placeholder="Type in link name or category">
				</div>
				
				<div class="links">
					<ul class="bookmarks">
						<li ng-repeat="site in filteredBookmarks = (bookmarks | filter: search)">
							<a href="{{ site.url }}" class="url">{{ site.title }}</a>
							<button class="button__edit" ng-click="editBookmark($index)">Edit</button>
							<button class="button__edit" ng-click="deleteBookmark($index)">Delete</button>
							<span class="tag">{{ site.category }}</span>
						</li>
					</ul>
					<div class="subtitle" ng-show="!filteredBookmarks.length">No matching links Abe :-(</div>

				</div>
			</div>

<!-- RHS wrapper, add new link input fields with validation and submit -->
			<div class="col-sm-6 col-md-6 col-lg-6">
				<p class="title">Abraham Linkoln</p>

				<!-- blue box with form v1 -->
					<div class="row" id="add" ng-hide="showResult || showEdit">
						<p class="subtitle__add">Add new bookmark:</p>
						<div class="col-sm-2 col-md-2 col-lg-2" id="label-panel">
								<p class="label">Link</p>
								<p class="label">Name</p>
								<p class="label">Category</p>
						</div>
						<!-- form inputs with error binding -->
						<div class="col-sm-4 col-md-4 col-lg-4">
							<input class="input" type="url" placeholder="Paste in URL" ng-model="site_url">
							<div class="error" ng-show="urlError">Please enter a valid URL</div>
							<input class="input" type="text" placeholder="Label for this link" ng-model="site_name">
							<input class="input" type="text" placeholder="Type in a category" ng-model="site_category">
							<button class="button__submit" ng-click="isValidUrl() + addBookmark()">submit</button> 
						</div>
					</div>
					<!-- blue box with results v2 -->
					<div class="row" id="results" ng-show="showResult">
						<p class="comment">Thank you for your submission.</p>
						<p class="comment">Your link for: {{ newLink}} has been added.</p>
						<p class="comment">Never lose a link again brah.</p>
						<button class="pale-button" ng-click="hideResults()">Add another link</button>
					</div>
					<!-- blue box with editing mode v3 -->
					<div class="row" id="edit" ng-show="showEdit && !showResult">
						<p class="comment">Editing mode:</p>
						<input type="text" class="input" ng-model="editingBookmark.title">
						<input type="text" class="input" ng-model="editingBookmark.url">
						<div class="error" ng-show="urlError">Please enter a valid URL</div>
						<input type="text" class="input" ng-model="editingBookmark.category">
						<button class="pale-button-small" ng-click="submitChanges()">Submit changes</button>
					</div>
					<!-- hyperlinks for external links -->
					<a href="https://github.com/habin-isa/phantom-abraham-linkoln" class="external-links">► Github repository</a>
					<a href="https://github.com/habin-isa/phantom-abraham-linkoln/blob/master/README.md" class="external-links">► Technical Design Document</a>  
			</div>
		</div>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	</body>
</html>
